.tool_bar_personal{
    background-image: none!important;
    background-color: #ff393d!important;
    border: none!important;
    text-shadow:0,0,0!important;
    border-radius: 0 !important;
}
.personal_backgroundimage{
    background-image:url('../images/personal_backgroundimage.jpg');
    background-size:100% 100%;
}
/*.html_tool_bar_personal{
    width: 6rem;
    height:1rem;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    position: absolute;
    left:50%;
    margin-left: -3rem;
    top:50%;
    margin-top: -1rem;
}*/
/*.personal{
    color:black!important;
}*/
.html_header_personal{
    background-color: #ff393d!important;
    margin: auto;
    width: 4rem;
    height: 4rem;
    margin-top: 1.2rem;
    border-radius: 2rem;
    font-style:normal;
    background-repeat:no-repeat!important;
    background-position: center;
    overflow: hidden;
}
.html_header_personal img{
    width: 4rem;
    height: 4rem;

}
.id_personal{
    width: 90%;
    height: 1.6rem;
    margin: auto;
    text-align: center;
    font-style:normal;
    font-size: 1rem;
    margin-top: 10px;
    color: #fff;

}
.header_personal{
    margin-bottom: 20px;
}

.order_personal,.collect_personal,.address_personal,.cooker_personal,.custom_service_personal,.account_personal{
    width: 100%;
    box-shadow: 0px 1px 3px #ddd;
}
.in_order_personal,.in_collect_personal,.in_address_personal,.in_cooker_personal,.in_custom_service_personal,.in_account_personal{
    margin: auto;
    width: 100%;
    height: 90%;
    background-color:#fff;
    position:absolute;
    bottom: 0;



}
.icon_order_personal,.icon_collect_personal,.icon_address_personal,.icon_cooker_personal,.icon_custom_service_personal,.icon_account_personal{

    display: block;
    width:20px;
    height:100%;
    background-repeat:no-repeat!important;
    background-position: center;
}
.icon_order_personal{background-image: url("../images/order_personal.png");}
.icon_collect_personal{background-image: url("../images/collect_personal.png");}
.icon_address_personal{background-image: url("../images/address_personal.png");}
.icon_cooker_personal{background-image: url("../images/cooker_personal.png");}
.icon_custom_service_personal{background-image: url("../images/custom_service_personal.png");}
.icon_account_personal{background-image: url("../images/account_personal.png");}

.order_more_personal,.collect_more_personal,.address_more_personal,.cooker_more_personal,.custom_service_more_personal,.account_more_personal{
    display: block;
    width:100%;
    height:100%;
    background-repeat:no-repeat!important;
    background-position: 84% 50%;
    padding-right: 20px;
    background-image: url("../images/more_personal.png")!important;
    background-size: 20px 20px;
    background-color: transparent!important;
    border: none!important;
    /*margin-top: 4%;*/
    position: absolute;
    top:50%;
    margin-top: -1rem;

}
.text_order_personal,.text_collect_personal,.text_address_personal,.text_cooker_personal,.text_custom_service_personal,.text_account_personal{
    height: 100%;
    font-style:normal;
    color: #646464;

}
.my_order{
    font-size: 1rem;
    width: 100%;
    height: 1.2rem;
    display: block;
    position: absolute;
    bottom: 50%;
    margin-bottom: -0.6rem;
}
.center_personal{
    width: 100%;
    margin: auto;
    background-color:#e7e7e7;
}
/*订单*/
.clearfix{clear: both}
.all_order_personal{
    width:100%;
    height: 100%;

}
.each_order_personal{
    width: 100%;
    height: 150px;
    background-color:#fdfdfd;
    margin-top:10px;
    border-bottom:1px solid #c2c2c2;
}
.inner_each_order_personal{
    width:90%;
    height: 100%;
    margin: auto;
}
.left_order_personal{
    max-width: 100px;
    float: left;
    width:60px;
    height:60px;
    margin-top: 20px;
    border-radius: 200px;
    background-color: pink;
    border: 1px solid #e7d8d9;
    overflow: hidden;

}
.left_order_personal img{
    width:60px;
    height: 60px;
}
.right_order_personal{
    float: right;
    width:70%;
    height:80%;
    margin-top:20px;
    line-height: 1.4rem;
}
.text_number_personal,.text_time_personal{
    color:#2c2d2d;
    font-size:1rem;

}
.text_number_personal{
    float: left;

}
.text_time_personal{
    color:#2c2d2d;
    font-size:1rem;
    margin-top:10px;



}
.number_personal,.number_time_personal{
    color:#9c9b99;
    font-size:0.8rem;
}
.order_detail_personal{
    width: 80px;
    height: 30px;
    background-color:#ff484d;
    margin-top: 10px;
    border:none;
    color:#fff;
    border-radius:10px;
    float: right;
}
.order_detail_comment{
    margin-left:40px;
}
.again_order{
    float:right;
    color:#fc3339;
    font-size:1rem;
}
.dw_item{
    background-color: #56a7df;
}
.dw_selectedItem{
    background-color:#fff;
}
/*订单详情*/
.personal_detail_my_order{
    font-size: 1rem;
    width: 100%;
    height: 1.2rem;
    display: block;
    position: absolute;
    bottom: 50%;
    margin-bottom: -0.6rem;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.personal_detail_my_order span{
    color:#333;
}
.personal_detail_content{
    width:94%;
    height: 70%;
    margin:auto;
    margin-top: 20px;
    border-radius:4px;
    color:#646464;

    font-size:1rem;


}

.personal_detail_content_top{
    width:100%;
    margin:auto;
    padding-left:10px;
    /*// border:1px solid yellow;*/
}

.personal_detail_icon{
    width: 2.6rem;
    height: 2.6rem;

    border-radius:300px;
    margin: auto;
    overflow: hidden;
    position: absolute;
    left: 10px;
    top:50%;
    margin-top: -1.3rem;


}
.personal_detail_icon img{
    width: 2.6rem;
    height: 2.6rem;
}
.personal_detail_button{
    color: #fff!important;
    width: 40%;
    height: 40px;

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-image:none!important;
    background-color: #ff393d!important;
    border: none!important;
    font-size: 1rem;
    font-style:normal!important;
}
.personal_detail_delete_button{
    color: #fff!important;
    height: 40px;
    border-radius:1000px!important;
    background-image:none!important;
    background-color: rgba(0,0,0,0)!important;
    border: none!important;
    font-size: 1rem;
    margin-top: 4px;
    font-style:normal!important;

}
/*评论*/
.comment_personal_cid,.comment_personal_time,.comment_personal_u_t,.comment_personal_star{
    height: 0!important;
    display: none!important;
}
.comment_personal_button{
    background-color: #ff393d!important;
    background-image: none!important;
    height:30px;
    width: 40%;
    margin-top: 20px;
    color: #fff!important;
    margin: auto;
    border: none!important;
}
#form_personal_comment{
    color: #000;
}
/*收藏*/
.each_collect_personal{
    width: 94%;
    height: 200px;
    background-color:#fdfdfd;
    margin-top:10px;
    border-bottom:1px solid #c2c2c2;
    margin: auto;
    position: relative;
    background-color: #fafafa;
    border-radius: 10px;
}
.main_collect_personal{
    width:100%;
    height:140px;
    margin-top: 16px;
    background-color: pink;
    border: 1px solid #e7d8d9;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.main_collect_personal img{
    width:100%;
    height:inherit;
}
.collect_header{
    width: 60px;
    height: 60px;
    border-radius:30px;
    border:2px solid #fff;
    position: absolute;
    bottom:20px;
    left: 10px;
    overflow: hidden;
}
.collect_header img{
    width: 60px;
    height: 60px;
}
.collect_profession{
    position: absolute;
    bottom:30px;
    left: 90px;
    font-size: 1rem;
    color: #1e1e1e;
}
.collect_orders{
    position: absolute;
    bottom:30px;
    right: 10px;
    font-size: 1rem;
    color: #1e1e1e;
}
.collect_orders_number{
    position: absolute;
    bottom:6px;
    right: 10px;
    font-size:0.8rem;
    color:#ff484d;
}
.collect_profession span{
    color:#646464;
}
.collect_star_all{
    width: 110px;height: 20px;
    position: absolute;
    bottom:6px;
    left: 90px;


}
.collect_star_text{ font-size: 0.8rem;
    float: left;}
.collect_star{
    float: right;
    width:80px;height:14px;

}
.collect_star img{
    height: 14px;
}
/*地址*/
.each_address_personal{
    width: 100%;
    height: 100px;
    /*background-color:#fdfdfd;*/
    margin-top:10px;
    border-bottom:1px solid #eee;
    margin-bottom: -1px;

}
.dw_item_address_personal{
    background-color:#fdfdfd;
    color: #666;
}
.dw_selectedItem_address_personal{
    background-color:#ff393d;
    color:#fff;
}
.name_tel_address_personal{

    font-size: 1rem;
    line-height: 1.2rem;
    margin-left: 10px;
    padding-top: 20px;
}
.name_tel_address_personal span {
    display: block;
    float: left;
    margin-right: 40px;
}
.details_address_personal{
    font-size: 1rem;
    line-height: 2rem;
    margin-left: 10px;
}
.add_address_personal{
    background-image:none!important;
    background-color: #ff393d!important;
    border: none!important;
    font-size: 1rem;
    font-style:normal!important;
    color:#fff!important;
}
/*添加收获地址*/
.add_address_user_personal_all{
    width: 96%;
    margin: auto;
    color: #333;


}
.add_address_user_personal_top{
    margin-top: 30px;
    background-color: #fff;
    border-bottom:1px solid #e7e7e7;
}
.add_address_user_personal_topmin{
    background-color: #fff;
    width: 100%!important;
    margin: auto!important;
}
.add_address_user_personal_topmin >div{
    border: none!important;
}
.add_address_user_personal_text{
    background-color: #fff;
    width: 100px;
    height:20px;
    position: absolute;
    bottom: 50%;
    margin-bottom:-10px;
    margin-left:10px;
}
.add_address_personal_button{
    background-image:none!important;
    background-color: #ffffff!important;
    border: none!important;
    font-size: 1rem;
    font-style:normal!important;
}
.add_address_tel_personal input {
    height:100%!important;
}
.add_address_user_personal_confirm{
    background-image:none!important;
    background-color: #ff484d!important;
    border: none!important;
    font-size: 1rem;
    font-style:normal!important;
    color:#fff!important;
    width:40%;
    margin: auto;
    margin-top:20px;
    height:40px;
}
.add_address_personal_radio_all{
    width: 100%!important;
}
.add_address_personal_radio{
    border: none!important;
}


.add_address_personal_girl{
    width: 50px;
    height: 20px;
    position: absolute;
    left:50%;
    margin-left:-25px ;
}

.each_add_address_personal{
    width: 100%;
    height: 40px;
    background-color:#fdfdfd;
    border-bottom:1px solid #c2c2c2;
}
.province_add_address_personal{
    color: #646464;
    font-size: 1rem;
    line-height: 40px;
    margin-left: 10px;
    border-botom:1px solid #646464;
}
/*厨师招募*/
.img_private_cooker .x-html{
    padding: 0!important;
}
/*厨师招募*/
.custom_service_more_personal a{
    width: 200px;
    display: block;
    color:rgba(0,0,0,0)!important;

}
/*我的账户*/
.account_account_more{
    display: block;
    width:100%;
    height:100%;
    background-repeat:no-repeat!important;
    background-position: 84%;
    padding-right: 20px;
    margin-top: 4%;
    /*background-image: url("resources/images/more_personal.png")!important;*/
    background-image: none!important;
    background-color: #fff!important;
    border: none!important;
}
.account_more_hasicon{
    background-image: url("../images/moretwo.png")!important;
    display: block;
    width:100%;
    height:100%;
    margin-top: 4%;
    background-repeat:no-repeat!important;
    background-position: 84%;
    padding-right: 20px;
    /*background-image: url("resources/images/more_personal.png")!important;*/
    background-color: #fff!important;
    border: none!important;
}
.text_account{
    height: 100%;
    font-style:normal;
    color: #646464;
    margin-left: 20px;
}
.in_account{
    margin: auto;
    width: 100%;
    height: 90%;
    background-color:#fff;
    position:absolute;
    bottom: 0;
}
.account_account_more_userid{
    font-size:1rem;
    font-style:normal;
    color:#646464;
}
.quit_login .x-button-label{
    width: 40%;
    height:20px;
    margin: auto;
    margin-top: 20px;
    color:#7aabfb!important;
    background-image: none!important;
    background-color: rgba(0,0,0,0)!important;
    border: none!important;
    color:red;

}
/*修改密码*/
.all_change_password_personal{
    width: 96%;
    margin: auto;
    background-color:#fff;
    margin-top: 20px;
    height:190px;
    border-radius:10px;
}
.all_change_oldpasswordtop{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}
.all_change_oldpasswordtop input{
    width: 60%;
    border: none;
}
.change_password_btn_confirm{
    width:60px;
    height:30px;
    background-color:#ff393d;
    border: none;
    color: #fff;
    font-size:1rem;
    border-radius:10px;
    margin-top: 20px;
    position:absolute;
    left:50%;
    margin-left:-30px;
}
/*修改头像*/
.uploadtwo_change_header{
    width: 96%;
    height: 200px;
    margin: auto;
    background-color: #fff;
    margin-top: 20px;
    border-radius:10px;
    min-width: 200px;
}
.change_header_file_container{
    width: 250px;
    margin: auto;
    padding-top: 30px;
}
.myaccount_change_header{

}
.change_head_rightrow{
    float: left;
    margin-right:20px;
    margin-top: 20px;
}
.change_uicon_change_header{
    margin-right:20px;
    width:60px;
    float: left;
    background-image: url(../images/upload_picture.png);
}
.input_file_change_header{
    width:60px;
    height:60px;
    background-color: red;
    opacity: 0;
}
.img_preview{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: #e6e6e6;
    float: left;


}
.clearfix{
    clear: both;
}
.save_change{
    width:100px;
    height: 40px;
    background-color:#ff484d ;
    color:#fff;
    margin: auto;
    border:none;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    border-radius: 10px;
    margin-top: 20px;
}
.img_preview img{
    width: 60px;
    height: 60px;
}
.change_header_u_telephone{
    width: 0;
    height: 0;
}