.service_topbar{
    background-image: none !important;
    background-color: #ffffff !important;
    border:none !important;
    box-shadow: 0px 1px 3px #ddd !important;
}
.service_back{
    background-image: none !important;
    background-color: transparent !important;
    font-size: 0.8em !important;
    color: #333;
}
.service_back_img{
    width:24px;
    height:24px;
    margin-top: 2px;
}